%p
  %strong Title:
  = @question.title
%p
  %strong Text:
  = @question.text

= link_to 'Edit', edit_organization_question_path(@organization, @question)
|
= link_to 'Back', organization_questions_path
