%h1 About scrum
%center
  %strong
    We’ve found that online surveys suck for this type of thing. 
  Mainly because it cuts out the conversation, and that’s the biggest part of the value. - https://labs.spotify.com/2014/09/16/squad-health-check-model/
%h3 What is a squad health check model?
%p
  A lot of companies experiment with ways of measuring and visualizing how their teams are doing. They’re usually called “maturity models”, and involve some sort of progression through different levels.
%p
  The intent of these types of models is usually benign – for example managers or coaches in larger organizations who want to get a sense of where they should focus their improvement efforts, spot systemic problems, and help teams become more self-aware so they can focus their improvement efforts too.
%p
  Organizational improvement work is very much a guessing game (how do you know what needs to be improved, and how will you know if it’s improving?). A systemic approach with clear visualization can reduce some of the guessiness.

%h3 OK, but do models like this really work?

%p
  It varies. Sometimes a model like this can be really helpful. Sometimes it’s more like “meh” – people dutifully do the workshops or surveys or whatever, and the data is then ignored.
%p
  Beware though. At some companies we’ve seen models like this become a monster, a systemic tool of oppression causing suboptimization and fear as managers use the “maturity model” to judge the teams and pit them against each other, and teams hide their problems to look good. Not a pretty picture!
%p
  Here’s a radically generalized “chance of success” pie-chart based on what we’ve seen so far at various companies:
%p
  However, although the potential damage is worse than the potential gain, there IS a potential gain, and there are ways to avoid the disaster scenario.


%h3 Who the health check model is for
%p
  When checking the health of a squad (our term for a small, cross-functional, self-organizing development team) there’s really two stakeholders:
%ol
  %li
    %strong
      The squad itself. 
    While discussing the different health indicators, the squad builds up self-awareness about what’s working and what’s not. The broad selection of questions helps expand their perspective. Perhaps they were well aware of the code quality issues, but hadn’t really thought about the customer value perspective, or how fast they learn. It also provides a balanced perspective, showing the good stuff as well as the pain points.
  %li
    %strong
      People supporting the squad. 
    Managers and coaches that work outside (or partly outside) the squad get a high level summary of what’s working and what’s not. They can also see patterns across multiple squads.  If you have dozens of teams and can’t talk to everyone about everything, a visual summary like this helps you figure out how to spend your time, and who to talk to about what.
%p
  The first step in solving a problem is to be aware of it. And this type of visualization makes it harder for everyone to ignore the problem.

