%h1 About scrum
%p 
  If you are new to implementing Scrum or have just done a major Scrum reset I recommend you task your Scrum Masters with generating a sprint "Health Check". Just to be clear, I do not mean that R&D leadership should ask the Scrum Master (or anyone else for that matter) to grade the team as I think this could be a rather subjective and destructive activity.
%p
  I think simply keeping a record if each team is hitting all the main Scrum Ceremonies is much more conducive to improvement. In other words, in the short term focus on compliance and note if teams are you observing all the Scrum meetings and adhering to basic principles.
%p
  It is critical that the team learns the textbook implementation of the process and understand the value of each meeting and the expected affects and artifacts therein. So for instance, are you holding stand-ups everyday and do you track unplanned work? Do you make sure to hold product demonstrations and are you showing live software? Are there backlog grooming sessions built into the schedule and are they well attended by team and Product Owner.
%p
  Of course the answer should be yes to all of these basic questions but you would be surprised how many Scrum teams start with only a fraction of the intended ceremonies. I won't argue that some ceremonies may requiring tweaking or a change in frequency but I think it rather unwise to think you can really gain a full understanding and benefit of Scrum if you don't embrace the entire philosophy from the start and learn how it was intended to work.
%p
  Another critical item to track is Velocity BUT, only to understand what the variance is sprint over sprint. Avoid the temptation of focusing on how big the number is - it is far more important that the number converges. When a team is mature and their velocity stabilizes it means 1) they are sizing accurately, 2) their stories are well defined and 3) the team is not over committing in sprint planning. When a teams Velocity changes very little sprint over sprint their Velocity Variance heads to zero. This to me is the true measure of a maturing Scrum team regardless if their raw Velocity is 10 or 30! 
%p
  So for a simple health check - if your team has a low Velocity Variance and they are observing all Scrum Ceremonies in good form they are likely a pretty healthy team. You may then be ready to start tracking some more advanced metrics targeted at driving the efficiency and output of the team. Some of these metrics can be super insightful but don't overshadow the team with this complexity until they can master the basics ... and don't underestimate how long it might take to get the basics down!
